body{
  padding: 15px;
  background-color:    #23887f;


  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 56 28' width='56' height='28'%3E%3Cpath fill='%23356847' fill-opacity='0.4' d='M56 26v2h-7.75c2.3-1.27 4.94-2 7.75-2zm-26 2a2 2 0 1 0-4 0h-4.09A25.98 25.98 0 0 0 0 16v-2c.67 0 1.34.02 2 .07V14a2 2 0 0 0-2-2v-2a4 4 0 0 1 3.98 3.6 28.09 28.09 0 0 1 2.8-3.86A8 8 0 0 0 0 6V4a9.99 9.99 0 0 1 8.17 4.23c.94-.95 1.96-1.83 3.03-2.63A13.98 13.98 0 0 0 0 0h7.75c2 1.1 3.73 2.63 5.1 4.45 1.12-.72 2.3-1.37 3.53-1.93A20.1 20.1 0 0 0 14.28 0h2.7c.45.56.88 1.14 1.29 1.74 1.3-.48 2.63-.87 4-1.15-.11-.2-.23-.4-.36-.59H26v.07a28.4 28.4 0 0 1 4 0V0h4.09l-.37.59c1.38.28 2.72.67 4.01 1.15.4-.6.84-1.18 1.3-1.74h2.69a20.1 20.1 0 0 0-2.1 2.52c1.23.56 2.41 1.2 3.54 1.93A16.08 16.08 0 0 1 48.25 0H56c-4.58 0-8.65 2.2-11.2 5.6 1.07.8 2.09 1.68 3.03 2.63A9.99 9.99 0 0 1 56 4v2a8 8 0 0 0-6.77 3.74c1.03 1.2 1.97 2.5 2.79 3.86A4 4 0 0 1 56 10v2a2 2 0 0 0-2 2.07 28.4 28.4 0 0 1 2-.07v2c-9.2 0-17.3 4.78-21.91 12H30zM7.75 28H0v-2c2.81 0 5.46.73 7.75 2zM56 20v2c-5.6 0-10.65 2.3-14.28 6h-2.7c4.04-4.89 10.15-8 16.98-8zm-39.03 8h-2.69C10.65 24.3 5.6 22 0 22v-2c6.83 0 12.94 3.11 16.97 8zm15.01-.4a28.09 28.09 0 0 1 2.8-3.86 8 8 0 0 0-13.55 0c1.03 1.2 1.97 2.5 2.79 3.86a4 4 0 0 1 7.96 0zm14.29-11.86c1.3-.48 2.63-.87 4-1.15a25.99 25.99 0 0 0-44.55 0c1.38.28 2.72.67 4.01 1.15a21.98 21.98 0 0 1 36.54 0zm-5.43 2.71c1.13-.72 2.3-1.37 3.54-1.93a19.98 19.98 0 0 0-32.76 0c1.23.56 2.41 1.2 3.54 1.93a15.98 15.98 0 0 1 25.68 0zm-4.67 3.78c.94-.95 1.96-1.83 3.03-2.63a13.98 13.98 0 0 0-22.4 0c1.07.8 2.09 1.68 3.03 2.63a9.99 9.99 0 0 1 16.34 0z'%3E%3C/path%3E%3C/svg%3E");
  //margin-top: 100px;
  /*  um platz fuer die toolbar oben zu schaffen. da dessen groeße im browser 0x0 ist
                      wäre gut wenn die Toolbar selbst eine bestimmte höhe hat, sodass dies hier nicht
                       geschrieben werden muss*/
}

.profilWrapper {
  background-color: rgba(0 ,0 ,0 , 0.5);
  width: 100%;
  padding: 20px;
  height: 100%;
  margin-bottom: 15px;

  h3 {
    color: white;
  }

  .profil {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 50px;
    height: 100%;

    .profilDetailsWrapper {
      margin-left: 10px;

      .profilDetails {
        margin-bottom: 20px;
        border-bottom: 3px solid rgba(0,0,0, 0.2);
      }

      .Textlabel {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 0;
      }

      .Valuelabel {
        font-size: 22px;
        margin-left: 30px;
      }
    }

    .profilBox {
      flex: 1;
      height: 100%;
      position: relative;

      p {
        color: white;
      }

    }

    .profilPictureWrapper {
      flex: unset;
      height: 250px;
      width: 250px;
      border-radius: 50%;
      background-color: rgba(0,0,0, 0.55);
      padding: 20px;
      align-self: center;

      .profilPicture {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    .favoriteBox {
      height: 100%;

      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: 4fr 1fr;

      #nyanCounter {
        width: 100%;
        height: auto;

        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 0.5fr 0.8fr 1.5fr;
        color: white;

        #nyanButton {
          all: unset;
          width: auto;
          height: auto;

          svg {
            fill: white;
          }
        }

        #nyanTitle {
          font-size: 24px;
          align-items: center;
        }

        #nyanText {
          display: flex;
          font-size: 20px;
          align-items: center;
        }
      }

      #profileFriendList {

        table {
          color: white;
          border-color: unset;
          background-color: rgba(0, 0, 0, 0.2);
        }



      }

      #privacySwitch {
        position: absolute;
        top: 0;
        right: 0;

        #gearSVGDiv {
          background-color: unset;
          padding: 0;
          display: flex;
          align-items: center;
          justify-content: center;
        }

        svg {

          position: absolute;
          top: 0;
          right: 0;

          fill: white;
        }
      }

      #colorpicker{
        svg {
          fill: white;
        }
      }


    }
  }
}



#favorites {
  background-color: rgba(0 ,0 ,0 , 0.5);
  color: white;
  width: 100%;
  padding: 10px;

  #title {
    font-size: 22px;
    font-weight: bold;
  }

  #favoritenContainer {
    width: auto;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: 1fr;
    grid-gap: 30px;

    .favoriteBox {
      padding: 15px;
      background-color: rgba(0, 0, 0, 0.2);

      p {
        font-size: 20px;
      }

      button {
        background-color: rgba(0, 0, 0, 0.4);
      }
    }
  }
}

.grid-container {
width: auto;
  height: 1200px;
  display: grid;
  grid-template-rows: 1fr 1fr; /* Zwei Zeilen mit jeweils gleicher Höhe */
  grid-template-columns: 1fr 1fr; /* Zwei Spalten mit jeweils gleicher Breite */
  grid-gap: 30px;
  margin: 30px;

  .grid-item {
    background-color: rgba(0 ,0 ,0 , 0.5);

    color: white;
    font-size: 16px;
    padding: 5px;
  }
}



/* ------------------- Table -------------------*/

table {
  border-collapse: collapse;
  width: 100%;
  margin-top: 20px;
}
th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}
td {
  border: 1px solid black;
  padding: 8px;
}

/* ------------------- SWITCH -------------------*/
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;

  input {
    opacity: 0;
    width: 0;
    height: 0;
  }
}

/* Hide default HTML checkbox */


/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: 0.4s;

  &:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: 0.4s;
  }
}


input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;

  &:before {
    border-radius: 50%;
  }
}


#changeSettingsDialog {
  width: 40%;
  height: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 10px;
  overflow: hidden;

  background-color: #548c57;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 80 40' width='80' height='40'%3E%3Cpath fill='%23356847' fill-opacity='0.4' d='M0 40a19.96 19.96 0 0 1 5.9-14.11 20.17 20.17 0 0 1 19.44-5.2A20 20 0 0 1 20.2 40H0zM65.32.75A20.02 20.02 0 0 1 40.8 25.26 20.02 20.02 0 0 1 65.32.76zM.07 0h20.1l-.08.07A20.02 20.02 0 0 1 .75 5.25 20.08 20.08 0 0 1 .07 0zm1.94 40h2.53l4.26-4.24v-9.78A17.96 17.96 0 0 0 2 40zm5.38 0h9.8a17.98 17.98 0 0 0 6.67-16.42L7.4 40zm3.43-15.42v9.17l11.62-11.59c-3.97-.5-8.08.3-11.62 2.42zm32.86-.78A18 18 0 0 0 63.85 3.63L43.68 23.8zm7.2-19.17v9.15L62.43 2.22c-3.96-.5-8.05.3-11.57 2.4zm-3.49 2.72c-4.1 4.1-5.81 9.69-5.13 15.03l6.61-6.6V6.02c-.51.41-1 .85-1.48 1.33zM17.18 0H7.42L3.64 3.78A18 18 0 0 0 17.18 0zM2.08 0c-.01.8.04 1.58.14 2.37L4.59 0H2.07z'%3E%3C/path%3E%3C/svg%3E");


  #changeOptions {
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 8%;
    position: relative;

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;

    .changeOptionButton {
      background-color: rgba(0, 0, 0, 0.7);

      &.active {
        background-color: rgba(0, 0, 0, 0.94);
      }
    }
  }


  #profileSettingsTab {
    form {
      margin: 15px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      margin-bottom: 30px;

      .inputLabel {
        margin-bottom: 5px;
        padding-bottom: 5px;

        display: flex;
        flex-direction: column;

        border-bottom: 3px solid rgba(0,0,0, 0.2);

        label {
          color: rgb(250, 244, 238);
          font-size: 15px;
        }

        input {
          overflow: hidden;
          height: 24px;
          color: white;
          background: rgba(0,0,0,0.4);
          border: 1px solid rgba(0,0,0,0.6);
          border-radius: 12px;
          padding-left: 5px;
          padding-right: 5px;


        }
      }
    }
  }

  #userDataTab {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 92%;


    .switchContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 10px;

      padding: 10px 30px;
      width: 180px;
      height: 100px;

      background-color: rgba(0,0,0,0.7);
      border-radius: 10px;

      p {
        color: antiquewhite;
        font-size: 20px;
        font-weight: bold;
      }
    }
  }


  .buttonBox {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;

    margin-bottom: 10px;

    button {
      background-color: rgba(0,0,0,0.7);
    }
  }
}

#nyanCatContainer {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 11; /* Set a high z-index to ensure it's above other elements */
  background-color: rgba(26, 1, 112, 0.4);
}

// -------------------------------------- NYANCAT ----------------------------------

#nyanCat {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

@keyframes flyInAnimation {
  0% {
    left: -10;
  }

  50% {
    left: 50%;
  }
  100% {
    left: 120%; // Changed from right: 0; to left: 100%;
  }
}

#nyanCat.fly-in {
  animation: flyInAnimation 2.5s;
}
